<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Will Zhao Modify">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="/static/image/png">
        <title>OPS 管理系统</title>
        <link href="/static/css/style.default.css" rel="stylesheet">
        <link href="/static/js/multiselect/multiple-select.css" rel="stylesheet">
    </head>

    <body>
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

        <section>

            <div class="leftpanel">
                <div class="logopanel">
                    <h1><span>[</span> Tcloud运维管理平台 <span>]</span></h1>
                </div>
                <div class="leftpanelinner">
                    <div class="visible-xs hidden-sm hidden-md hidden-lg">   
                        <div class="media userlogged">
                            <img alt="" src="/static/images/loggeduser.png" class="media-object">
                            <div class="media-body">
                                <h4>John Doe</h4>
                                <span>"Life is so..."</span>
                            </div>
                        </div>
                        <h5 class="sidebartitle actitle"></h5>
                        <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                            <li><a href="/logout/"><i class="fa fa-sign-out"></i> <span>退出</span></a></li>
                        </ul>
                    </div>

                    <h5 class="sidebartitle">导航</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket">
                        <li><a href="/dashboard/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                        <li  class="active"><a href="javascript:void(0)"><i class="fa fa-fax"></i> <span>虚机申请</span></a></li>
                        <li><a href="/codedeploy/"><i class="fa fa-file-code-o"></i> <span>代码部署</span></a></li>
                        <li><a href="/cmdb/"><i class="fa fa-keyboard-o"></i> <span>资产管理</span></a></li>
                        <li><a href="/saltstack/"><i class="fa fa-laptop"></i> <span>任务管理</span></a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> <span>用户管理</span></a>
                            <ul class="dropdown-menu">
                                <li class="dept_list dept_edit"><a href="/ldapuser/dept_list/">查看部门</a></li>
                                <li class="dept_add"><a href="/ldapuser/dept_add/">添加部门</a></li>
                                <li class="group_list group_edit"><a href="/ldapuser/group_list/">查看小组</a></li>
                                <li class="group_add"><a href="/ldapuser/group_add/">添加小组</a></li>
                                <li class="user_list user_edit user_detail"><a href="/ldapuser/user_list/">查看用户</a></li>
                                <li class="user_add"><a href="/ldapuser/user_add/">添加用户</a></li>
                            </ul>
                        </li>
			<li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> <span>权限管理</span></a>
                            <ul class="dropdown-menu">
                                <li class="dept_perm_list dept_perm_edit active"><a href="/ldapperm/dept_perm_list/">部门授权</a></li>
                                <li class="perm_list perm_edit perm_detail"><a href="/ldapperm/perm_list/">小组授权</a></li>
                                <li class="sudo_list sudo_edit sudo_add cmd_list cmd_edit cmd_add sudo_detail"><a href="/ldapperm/sudo_list/">sudo授权</a></li>
                            </ul>
                        </li>
                        <li><a href="/operation/"><i class="fa fa-book"></i> <span>操作记录</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="mainpanel">
                <div class="headerbar">
                    <a class="menutoggle"><i class="fa fa-bars"></i></a>
                    <div class="header-right">
                        <ul class="headermenu">
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <img src="/static/images/loggeduser.png" alt="" />
                                         {{user.username}}
                                    </button>
                                </div>
                            </li>
                            <li>
                                <button id="btn_sys_logout" class="btn btn-default tp-icon chat-icon" title="退出">
                                    <i class="glyphicon glyphicon-log-out"></i>
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="pageheader">
                    <h2><i class="fa fa-fax"></i> 虚机申请 <span><!--subtitle here--></span></h2>
                    <div class="breadcrumb-wrapper">
                        <span class="label">You are here:</span>
                        <ol class="breadcrumb">
                            <li><a href="/dashboard/">OPS</a></li>
                            <li class="active">虚机申请</li>
                        </ol>
                    </div>
                </div>

                <div class="contentpanel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-btns">
{#                                <a href="" class="panel-close">&times;</a>#}
                                <a href="" class="minimize">&minus;</a>
                            </div>
                            <h4 class="panel-title">信息输入</h4>

                        </div>
                        <div class="panel-body panel-body-nopadding">
                            <form method="post" class="form-horizontal form-bordered" action="/create_vm/" >

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">虚机名称</label>
                                    <div class="col-sm-6">
                                        <div class="input-group mb15">
                                            <span class="input-group-addon"><i class="fa fa-laptop"></i></span>
                                            <input type="text" id="servername" name="servername" placeholder="mie-bj/sz/cd-appname-test/online-1" class="form-control"/>
                                        </div>
                                    </div>

                                </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">虚机属主</label>
                                    <div class="col-sm-6">
                                        <div class="input-group mb15">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="email" placeholder="name@tcl.com" id="owner" name="owner" class="form-control"/>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">虚机属组</label>
                                    <div class="col-sm-6">
                                        <div class="input-group mb15">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" placeholder="groupname" id="groupname" name="groupname" class="form-control"/>
                                        </div>
                                    </div>
                                </div>

                                  <div class="form-group" style="display: none">
                                    <label class="col-sm-3 control-label">安全组</label>
                                    <div class="col-sm-6">
                                        <div class="ckbox ckbox-primary" style="margin-top: 10px">
                                            <input type="checkbox" value="custom_server" name="security" id="security" checked="checked"/>
                                            <label for="security">custom_server</label>
                                        </div>
                                    </div>

                                </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">虚机类型</label>
                                    <div class="col-sm-6">
                                        <input type="hidden" name="type" value="" id="vmtype">
                                        <div class="section-container" id="vm_list"></div>
                                    </div>

                                </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">外网IP</label>
                                    <div class="col-sm-6">
                                        <input type="checkbox" name="publicip" id="publicip" value="true" style="display: none">
                                       <div class="toggle toggle-primary" style="margin-top: 10px" id="isPublicIP"></div>
                                    </div>

                                </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">磁盘数量</label>
                                    <div class="col-sm-2">
                                        <div class="input-group mb15">
{#                                            <span class="input-group-addon"><i class="fa  fa-info"></i></span>#}
                                            <input type="text" id="disknum" name="disknum" placeholder="" class="form-control number-require" value="1"/>
                                            <span class="input-group-addon">个</span>
                                        </div>
                                    </div>

                                </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">磁盘大小</label>
                                    <div class="col-sm-2">
                                        <div class="input-group mb15">
{#                                            <span class="input-group-addon"><i class="fa fa-bitbucket"></i></span>#}
                                            <input type="text" id="disksize" name="disksize" placeholder="" class="form-control number-require" value="100" />
                                            <span class="input-group-addon">GB</span>
                                        </div>
                                    </div>

                                </div>

                                  <div class="form-group">
                                    <label class="col-sm-3 control-label">软件类型</label>
                                    <div id="software-sel-container" class="col-sm-6">


                                        <select id="software" multiple="multiple" name="software" style="">
                                            <option id="software_apache" value="apache">apache</option>
                                            <option id="software_mongodb" value="mongodb">mongodb</option>
                                            <option id="software_mysql" value="mysql">mysql</option>
                                            <option id="software_nginx" value="nginx">nginx</option>
                                            <option id="software_redis" value="redis">redis</option>
                                            <option id="software_zookeeper" value="zookeeper">zookeeper</option>
                                        </select>

                                    </div>

                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label"></label>

                                    <div class="col-sm-6 text-center">
                                           <button type="reset" class="btn btn-default">重置</button>
                                           <button type="submit" class="btn btn-primary ml15">创建</button>
                                    </div>
                                </div>

                            </form>
                               {% if msg %}
                                   <input type="hidden" id="save_back_msg" value="{{msg}}" />
                               {% endif %}

                        </div>
                    </div>
                </div>

            </div>

        </section>



        <script src="/static/js/jquery-1.11.1.min.js"></script>
        <script src="/static/js/jquery-ui-1.10.3.min.js"></script>
        <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/modernizr.min.js"></script>
        <script src="/static/js/jquery.sparkline.min.js"></script>
        <script src="/static/js/toggles.min.js"></script>
        <script src="/static/js/retina.min.js"></script>
        <script src="/static/js/jquery.cookies.js"></script>

        <script src="/static/js/multiselect/jquery.multiple.select.js"></script>


        <script src="/static/js/custom.js"></script>
        <script src="/static/js/page/tcloudvm.js"></script>

    </body>
</html>
